<div class="py-4">
  <div
    class="
      container
      d-flex
      flex-row
      align-content-center
      justify-content-between
    "
  >
    <p
      class="text-uppercase header-logo"
      style="color: #66bf3c; font-size: 4rem"
    >
      LOGO
    </p>
    <div class="d-flex flex-lg-row align-items-center">
      <app-button
        title="vous êtes medecin ?"
        variant="success"
        class="header-btn"
      ></app-button>
      <app-button title="Se connecter" class="ms-4"></app-button>
    </div>
  </div>
</div>
