<div
  class="
    input-group
    border-dark border-opacity-25 border border-1
    rounded-3
    overflow-hidden
  "
>
  <span
    *ngIf="!!leftIcon"
    class="input-group-text bg-white border-0 text-black-50 pe-0"
  >
    <i-bs [name]="leftIcon"></i-bs>
  </span>

  <input
    value="{{ value }}"
    placeholder="{{ placeholder }}"
    (input)="handleChange($event)"
    type="text"
    class="
      border-0 border-start-0
      py-1
      px-2
      form-control
      fw-lighter
      text-nowrap
    "
  />

  <span
    *ngIf="!!rightIcon"
    class="input-group-text bg-white border-0 text-black-50 ps-0"
  >
    <i-bs [name]="rightIcon"></i-bs>
  </span>
</div>
