<div class="min-vh-100 featured-image">
  <app-header></app-header>
  <div class="container align-content-center mt-5 mt-lg-0">
    <p
      class="feature-section-title h1 text-uppercase text-white"
      style="font-size: 35px"
    >
      consultez un <span style="color: #3f79a8">médecin</span>
    </p>

    <p
      class="h1 feature-section-title text-uppercase text-white"
      style="font-size: 35px"
    >
      en qui vous avez confiance.
    </p>
    <br />
    <p
      class="feature-section-description text-white mb-4 mb-lg-0"
      style="font-size: larger; max-width: 45%"
    >
      Nous éliminons les devinettes pour trouver un médecin dans votre région
      pour vous et votre famille.
    </p>

    <app-button title="EN SAVOIR PLUS"></app-button>
  </div>
  <div
    class="
      position-absolute
      bottom-0
      search-card
      px-3 px-lg-5
      py-1 py-lg-3
      rounded-4
      container
      justify-content-center
      bg-white
      shadow
      col-10 col-lg-8
      offset-1 offset-lg-2
    "
  >
    <p class="mb-4 mt-4 h6 text-uppercase">Trouvez un rendez-vous!</p>
    <div class="row mb-4 gy-3">
      <div class="col-lg-4 col-sm-12">
        <app-input leftIcon="search" placeholder="Nom médecin,spécialité..."
          >RECHERCHER</app-input
        >
      </div>
      <div class="col-lg-4 col-sm-12">
        <app-input leftIcon="geo-alt" rightIcon="lock" placeholder="Adresse"
          >RECHERCHER</app-input
        >
      </div>
      <div class="col-lg-4 col-sm-12">
        <app-button
          class="d-grid gap-2 mx-auto"
          (onClick)="handleClick($event)"
          title="RECHERCHER"
        ></app-button>
      </div>
    </div>
  </div>
</div>

<!--section 1-->
<div class="services-section">
  <p class="h2 text-uppercase text-center services-section-title">
    comment trouver votre <span class="text-primary">médecin idéal</span>
  </p>
  <div class="container text-center">
    <div class="row gx-lg-0 gy-lg-0 gy-4">
      <div class="col col-12 col-md-6 col-lg-4 semi-transparent-card-lg">
        <app-card
          title="étape 3"
          description="Choisissez quand souhaitez-vous avoir votre rendez-vous."
          imageSrc="assets/date.png"
          buttonTitle="suivant"
        ></app-card>
      </div>
      <div class="col col-12 col-md-6 col-lg-4 scale-up-card-lg mb-5">
        <app-card
          title="étape 1"
          description="Choisissez votre médecin ou la spécialité que vous souhaitez prendre rendez-vous."
          imageSrc="assets/search.png"
          buttonTitle="suivant"
        ></app-card>
      </div>
      <div class="col col-12 col-md-6 col-lg-4 semi-transparent-card-lg">
        <app-card
          title="étape 2"
          description="Choisissez le lieu où vous souhaitez avoir le rendez-vous."
          imageSrc="assets/location.png"
          buttonTitle="suivant"
        ></app-card>
      </div>
    </div>
  </div>
</div>

<!--section 2-->
<div
  class="
    bg-white
    shadow
    my-5
    px-5
    py-3
    align-content-center
    justify-content-between
  "
>
  <div class="container py-5">
    <div
      class="
        d-flex
        flex-column flex-lg-row
        justify-content-between
        align-items-center
      "
    >
      <h6 class="h5 text-center text-lg-start">
        Questions médicale fréquemment posées
      </h6>
      <div class="d-flex flex-column flex-lg-row align-items-center">
        <app-button
          title="poser une question"
          variant="success"
          leftIcon="question-square"
          class="mt-2 mt-lg-0"
        ></app-button>
        <app-button
          class="mt-2 mt-lg-0 ms-lg-3"
          title="rechercher"
        ></app-button>
      </div>
    </div>
    <div class="row g-3 mt-4">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let question of faqs">
        <app-accordion
          [title]="question.title"
          iconName="house-fill"
        ></app-accordion>
      </div>
    </div>
  </div>
</div>

<!--section 3-->
<div class="row container-fluid">
  <div class="col-12 col-lg-5 offset-lg-2 text-center text-lg-start">
    <p class="h5">Vous êtes un médecin ?</p>
    <p class="h6 my-3">
      contactez-nous et nous nous occuperons de la création de votre compte.
    </p>
    <div class="text-muted">
      <p class="mb-2">
        <span class="mx-2"><i-bs name="person"></i-bs></span>Lorem ipsum dolor
        sit amet consectetur. Vulputate platea platea facilisis.
      </p>
      <p class="mb-2">
        <span class="mx-2"><i-bs name="person"></i-bs></span>Lorem ipsum dolor
        sit amet consectetur. Vulputate platea platea facilisis.
      </p>
      <p class="mb-2">
        <span class="mx-2"><i-bs name="person"></i-bs></span>Lorem ipsum dolor
        sit amet consectetur. Vulputate platea platea facilisis.
      </p>
      <p class="mb-3">
        <span class="mx-2"><i-bs name="person"></i-bs></span>Lorem ipsum dolor
        sit amet consectetur. Vulputate platea platea facilisis.
      </p>
    </div>

    <app-button title="CONTACTEZ-NOUS"></app-button>
  </div>
  <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center">
    <img
      src="assets/appointment.png"
      style="width: 100%; max-width: 526px; object-fit: contain"
    />
  </div>
</div>

<!--section 4-->
<div class="my-5 bg-white shadow py-5">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-lg-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/security.png" />
      </div>
      <div class="col-12 col-lg-6 mt-5 text-center text-lg-end">
        <h6>Nous vous protégeons, votre santé et vos données</h6>
        <p class="mt-3 mb-3 text-center text-lg-end">
          la sécurisation de vos données est notre priorité absolue, nous
          faisons ce qu'il faut pour protéger vos données personnelles et celles
          de vos patients.
        </p>
        <app-button title="SAVOIR PLUS"></app-button>
      </div>
    </div>
  </div>
</div>

<!-- section 5-->
<div class="mb-5 container">
  <div class="row text-center">
    <div class="col-12 col-lg-6">
      <p>
        <span class="h6 mx-2">Vous avez une question ou une demande ?</span
        >N'hésitez pas à nous contacter.
      </p>
    </div>
    <div class="col-12 col-lg-6 text-lg-end">
      <app-button title="Contactez-nous" variant="success"></app-button>
    </div>
  </div>
</div>

<!--footer-->

<footer class="bg-white shadow-lg pt-5 pb-2">
  <div class="container d-flex flex-column">
    <div class="row g-5 g-lg-0 text-center text-lg-start">
      <div class="col-12 col-lg-4">
        <p class="text-uppercase" style="color: #66bf3c; font-size: 4rem">
          LOGO
        </p>
        <div class="col-12 d-lg-none d-block">
          <app-icon-button iconName="twitter" class="mx-2"></app-icon-button>
          <app-icon-button iconName="facebook" class="mx-2"></app-icon-button>
          <app-icon-button iconName="instagram" class="mx-2"></app-icon-button>
          <app-icon-button iconName="linkedin" class="mx-2"></app-icon-button>
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <h6 class="text-primary">À propos</h6>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
      </div>
      <div class="col-6 col-lg-2">
        <h6 class="text-primary">À propos</h6>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
      </div>
      <div class="col-6 col-lg-2">
        <h6 class="text-primary">À propos</h6>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
      </div>
      <div class="col-6 col-lg-2">
        <h6 class="text-primary">À propos</h6>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
        <p class="mb-1">Lorem Ipsum</p>
      </div>
    </div>
    <hr />
    <div>
      <div class="row text-center">
        <div class="col-6 col-lg-4 text-muted">
          <p>© 2022 - 2023 - XtendPlex</p>
        </div>
        <div class="col-6 col-lg-4 text-muted"><p>Informations légales</p></div>

        <div class="col-lg-4 d-none d-lg-block">
          <app-icon-button iconName="twitter" class="mx-2"></app-icon-button>
          <app-icon-button iconName="facebook" class="mx-2"></app-icon-button>
          <app-icon-button iconName="instagram" class="mx-2"></app-icon-button>
          <app-icon-button iconName="linkedin" class="mx-2"></app-icon-button>
        </div>
      </div>
    </div>
  </div>
</footer>
